name: multiple job for github

on:
  push:

jobs:
  build_job1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install cowsay program
        run: sudo apt-get update && sudo apt-get install -y cowsay

      - name: Create dragon.txt using cowsay
        run: cowsay -f dragon "Run for cover, I am Dragon" > dragon.txt

      - name: Show dragon.txt
        run: ls -l dragon.txt && cat dragon.txt

      - name: Upload dragon.txt artifact
        uses: actions/upload-artifact@v4
        with:
          name: dragon-txt
          path: dragon.txt

  build_job2:
    needs: build_job1
    runs-on: ubuntu-latest
    steps:
      - name: Download dragon.txt artifact
        uses: actions/download-artifact@v4
        with:
          name: dragon-txt
          # downloads into current working directory by default

      - name: Show workspace files
        run: ls -la

      - name: tests for exist (grep)
        run: grep -i "dragon" dragon.txt

  build_job3:
    needs: build_job2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install nginx software and python
        run: sudo apt-get update && sudo apt install -y python3 python3-venv python3-pip nginx

      - name: Show nginx version
        run: nginx -v

      - name: Show python version
        run: python3 --version
