name: docker image

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: docker build
        env:
          CONTAINER_REGISTRY: docker.io
          DOCKER_USERNAME: tummaravikiranreddy1
          IMAGE_NAME: appointment-service
        run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest .

      - name: docker login
        env:
          DOCKER_USERNAME: tummaravikiranreddy1
          DOCKER_PASSWORD: *******
        run: docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

      - name: Docker publish
        env:
          CONTAINER_REGISTRY: docker.io
          DOCKER_USERNAME: tummaravikiranreddy1
          IMAGE_NAME: appointment-service
        run: echo docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: docker run
        env:
          CONTAINER_REGISTRY: docker.io
          DOCKER_USERNAME: tummaravikiranreddy1
          IMAGE_NAME: appointment-service
        run: echo docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest
