name: shell script execution
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        
      - name: list the files
        run: ls -lrt
        
      - name: execute the shell script
        run: |
          chmod +x shell.sh
          ./shell.sh
