name: ascii value printing

on:
  push:

jobs:
  ascii_job:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: list repo files
        run: ls -lrt
      
      - name: executing shell script
        run: |
          chmod +x shell-script.sh
          ./shell-script.sh
