name: ascii value printing value

on:
  push:

jobs:
  ascii_job:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: list repo files
        run: ls -lrt .github/workflows  || true

      - name: executing shell script
        run: |
          chmod +x .github/workflows/shell-script.sh
          .github/workflows/shell-script.sh