name: upload and download the files

on:
  push:
    branches:
      - main

jobs:
  jobs_first1:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: install cowsay
        run: sudo apt-get update && sudo apt-get -y install cowsay

      - name: execute cowsay cmd
        run: cowsay -f dragon "how are you today Dragon" > dragon.txt

      - name: upload text file
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: dragon.txt

  jobs_first2:
    needs: jobs_first1
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: download text file
        uses: actions/download-artifact@v4
        with:
          name: my-artifact

      - name: list files
        run: ls -lrt

  jobs_second3:
    needs: jobs_first2
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: download text file
        uses: actions/download-artifact@v4
        with:
          name: my-artifact

      - name: view the file
        run: cat dragon.txt
